<div class="step-header">
  <div>
    <span>{{ index() }}. Step:</span>
    <span>{{ stepFormGroup().value.eventType || "Unnamed event" }}</span>
    <span class="material-symbols-outlined">edit</span>
  </div>
  <div class="action-buttons">
    <button>
      <span class="material-symbols-outlined">content_copy</span>
    </button>
    @if (isRemovalAllowed()) {
      <button (click)="removeStep.emit()">
        <span class="material-symbols-outlined">delete</span>
      </button>
    }
  </div>
</div>

<div class="form-part">
  <app-searchable-dropdown
    [formControl]="transformType(stepFormGroup().get('eventType'))"
    [isOpen]="true"
    [options]="eventsTypes()"
  >
  </app-searchable-dropdown>

  @if (stepFormGroup().value.eventType && rules.controls.length === 0) {
    <button class="btn btn-accent" (click)="addRule()">
      + Add an event attribute
    </button>
  }

  @if (rules.controls.length > 0) {
    <div class="rules-container" [formGroup]="stepFormGroup()">
      <ng-container formArrayName="rules">
        @for (rule of rules.controls; track rule) {
          <ng-container [formGroupName]="$index">
            <app-rule
              class="rule"
              (removeRule)="removeRule($index)"
              [ruleFormGroup]="rules.controls.at($index)!"
              [supportedAttributes]="getAttributesForEvent()"
              [parentEvent]="stepFormGroup().value.eventType"
            ></app-rule>
          </ng-container>
        }
        <button class="btn btn-accent refine-more" (click)="addRule()">
          Refine More
        </button>
      </ng-container>
    </div>
  }
</div>
