<ng-container [formGroup]="ruleFormGroup()">
  <select formControlName="field">
    <option disabled value>Select an attribute</option>
    @for (attribute of supportedAttributes(); track attribute) {
      <option [value]="attribute">{{ attribute }}</option>
    }
  </select>

  <select formControlName="operator">
    <option value="=">=</option>
    <option value="!=">!=</option>
    <option value=">">></option>
    <option value="<"><</option>
  </select>
  <input formControlName="value" placeholder="Value" />
  <button type="button" (click)="removeRule.emit()">Remove</button>
</ng-container>
