:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--color-gray-light);
  padding: 16px 24px;
  margin: 32px 16px;
  border-radius: 8px;
  gap: 16px;

  .filter-title {
    color: var(--color-gray-dark);
  }

  .steps-container {
    width: 100%;
    background-color: #fff;

    app-step {
      border-bottom: 1px solid var(--color-gray-light);
    }

    .add-step-container {
      margin-bottom: 24px;
      display: flex;
      justify-content: center;
    }
  }

  .discard {
    align-self: flex-end;
  }
}
