:host {
  display: flex;
  flex-direction: column;
  background-color: #F8F7FE;
  padding: 16px 24px;
  margin: 32px 16px;
  border-radius: 8px;
  gap: 16px;

  .steps-container {
    background-color: #fff;
  }
}
