<ng-container [formGroup]="ruleFormGroup()">
  <select formControlName="field">
    <option disabled value>Select an attribute</option>
    @for (attribute of supportedAttributes(); track attribute.property) {
      <option [value]="attribute.property">{{ attribute.property }}</option>
    }
  </select>

  <select formControlName="operator">
    @for (operator of operators; track operator) {
      <option [value]="operator.value">{{ operator.value }}</option>
    }
  </select>

  @switch (controlTypeToUse()) {
    @case ("string") {
      <input formControlName="value" placeholder="Value" />
    }
    @case ("number") {
      <input type="number" formControlName="value" />
    }
    @case ("numbers") {}
  }
  <button class="remove-rule" type="button" (click)="removeRule.emit()">
    Remove
  </button>
</ng-container>
