<ng-container [formGroup]="ruleFormGroup()">
  <app-searchable-dropdown
    formControlName="field"
    [options]="attributesValues()"
    placeholder="Select an attribute"
    filterPlaceholder="Filter events..."
    [parentBadge]="parentEvent()"
  >
  </app-searchable-dropdown>

  @if (ruleFormGroup().controls["field"].value) {
    <app-operator-dropdown [options]="cfs.operators" formControlName="operator">
    </app-operator-dropdown>

    @switch (controlTypeToUse()) {
      @case ("string") {
        <input formControlName="value" placeholder="Value" />
      }
      @case ("number") {
        <input type="number" formControlName="value" />
      }
      @case ("numbers") {
        <app-range-value-control
          formControlName="value"
        ></app-range-value-control>
      }
    }
  }
  <button class="remove-rule" type="button" (click)="removeRule.emit()">
    <span class="material-symbols-outlined">close</span>
  </button>
</ng-container>
