<!--<select ">-->
<!--  <option disabled value>Select an event</option>-->
<!--  @for (eventType of eventsTypes(); track eventType) {-->
<!--    <option [value]="eventType">{{ eventType }}</option>-->
<!--  }-->
<!--</select>-->
<app-searchable-dropdown
  [formControl]="transformType(stepFormGroup().get('eventType'))"
  [isOpen]="true"
  [options]="eventsTypes()"
>
</app-searchable-dropdown>
@if (stepFormGroup().get("eventType")?.value && rules.controls.length === 0) {
  <button class="btn btn-accent" (click)="addRule()">Refine rule</button>
}
@if (rules.controls.length > 0) {
  <div>
    <form [formGroup]="stepFormGroup()!">
      <div formArrayName="rules">
        @for (rule of rules.controls; track rule) {
          <div [formGroupName]="$index">
            <app-rule
              (removeRule)="removeRule($index)"
              [ruleFormGroup]="rules.controls.at($index)!"
              [supportedAttributes]="getAttributesForEvent()"
            ></app-rule>
          </div>
        }
      </div>
    </form>
    <button class="btn btn-accent" (click)="addRule()">Refine More</button>
  </div>
}
