<select [formControl]="eventTypeControl">
  <option disabled value>Select an event</option>
  @for (eventType of eventTypes(); track eventType) {
    <option [value]="eventType">{{ eventType }}</option>
  }
</select>
@if (eventTypeControl.value && rules.controls.length === 0) {
  <button (click)="addRule()">Refine rule</button>
} @else {
  <form [formGroup]="ruleForm" (ngSubmit)="submit()">
    <div formArrayName="rules">
      @for (rule of rules.controls; track rule) {
        <div [formGroupName]="$index">
          <app-rule
            (removeRule)="removeRule($index)"
            [ruleFormGroup]="rules.controls.at($index)"
          ></app-rule>
        </div>
      }
    </div>
    <button type="button" (click)="addRule()">Add Rule</button>
    <button type="submit" (click)="showRules()">Submit</button>
  </form>
}
